    /* Color variables */
:root {
    --main-bg-color: #424248;
    --secondary-bg-color: #303036;
    --main-txt-color: #FFFAFF;
    --category-txt-color: #212121;

    --green-light: #6EDD79;
    --orange-light: #F0CB5C;
    --red-light: #DC6F6F;

    --task-one: #78BFBF;
    --task-two: #5C6784;
    --task-three: #C47425;
    --task-category: #71B7DA;

    --priority-color: #72BDA3;

    --extra-one: #2FBF71;
    --extra-two: #1B998B;

    --owner-color: #A1BBD3;
    --member-color: #72BDA3;
}

* {
    box-sizing: border-box;
    font-family: roboto-mono, monospace;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: var(--main-bg-color);
    /*font-family: supria-sans-condensed, sans-serif;*/
}

#renderContainer {
    flex: 1;
}

select {
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
}

.mainNav {
    text-transform: uppercase;
    background-color: var(--secondary-bg-color);
    border-bottom: solid 0.7px var(--main-txt-color);
    height: 64.69px;
    margin-top: 0;
    margin-bottom: 3.5rem;
}

.mainNav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0;
    margin: 0;
    font-size: 12px;
    padding-top: 0.6rem;
}

.mainNav li {
    padding: 1rem;
}

.mainNav a {
    text-decoration: none;
    color: var(--main-txt-color);
    padding: 0.48rem;
}

.mainNav a:hover {
    color: var(--task-one);
}

.active {
    color: var(--task-one) !important;
}

.dropbtn {
    background-color: transparent;
    color: var(--main-txt-color);
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: none;
    float: right;
    padding: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    margin-top: 16px;
}

.dropdown-content a {
    color: var(--main-txt-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.show {
    display: block;
}

#logo {
    color: var(--task-one);
}

#verticalLine {
    color: var(--main-txt-color);
}

.stickyNav{
    position: sticky;
    top: 0;
    z-index: 2;
}

.catchphrase{
    color: var(--main-txt-color);
    position: relative;
    top: -4px;
    padding-left: 1rem;
    font-size: 12px;
}

.iWrapper {
    position: absolute;
    left: 30px;
    top: 15px;
}

.text {
    position: relative;
    left: 40px;
    color: #fffaff;
    top: -10px;
    font-size: 17px;
    letter-spacing: 2px;
}

.underText {
    position: relative;
    top: 5px;
    left: -20px;
    color: var(--task-one);
    letter-spacing: 2px;
    font-size: 17px;
}

.slash {
    color: var(--task-one);
    font-size: 20px;
}

#renderContainer{
    width: 82.8vw;
    overflow: auto;
    margin: 0 auto;
}


.calendar {
    width: 82.8vw;
    border: solid 1px var(--main-txt-color);
    margin: 0 auto;
}

.calendarWrap {
    padding-bottom: 3.5rem;
}

.calendarHeading {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    color: var(--main-txt-color);
    letter-spacing: 2px;
    width: 82.8vw;
    margin: auto;
    padding: 8px;
}

#calendarContainer{
    position: relative;
    margin: auto;

    display: grid;
    grid-row-gap: 10px;

    overflow: auto;

    background: transparent;
    padding: 10px 0;
    box-shadow: inset 0 0 7px 4px rgba(0,0,0,0.75);
}

.calendarItem {
    border: 1px solid var(--main-txt-color);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0.4rem;
    color: var(--main-txt-color);
    background: var(--main-bg-color);
}

/* Status Wrapper */
.calendarItemStatus {
    color: var(--red-light);
    margin-left: 15px;
}

.calendarItemStatusToDo {

}

.calendarItemStatusToDo:before {
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    display: inline-block;
    background-color: var(--red-light);
    border-radius: 50%;
}

.calendarItemStatusInProgress {
    color: var(--orange-light);
}

.calendarItemStatusInProgress:before {
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    display: inline-block;
    background-color: var(--orange-light);
    border-radius: 50%;
}

.calendarItemStatusDone {
    color: var(--green-light);
}

.calendarItemStatusDone:before{
    color: var(--green-light);
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    border-radius: 50%;
    display: inline-block;
    background-color: var(--green-light);
}

.calendarItemStatusUnkown {
    color: cyan;
}

.calendarItemTitle {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Wrapper for all users on task */
.calendarItemUser {
    border: 2px solid;
    border-radius: 50%;
    padding: 3px;
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
    font-weight: 800;
    position: relative;
}

/* Individual owners */
.calendarItemOwner{
    border-color: var(--owner-color);
}

.calendarItemOwner:before{
    font-family: "Font Awesome 5 Free";
    content: "\f521";
    position: absolute;
    bottom: 20px;
    left: 2.75px;
    transform: scaleY(0.6);
    transform: scaleX(1.5);
    color: gold;
}

/* Individual members */
.calendarItemMember {
    border-color: var(--member-color);
}

.calendarDate{
    text-align: center;
    color: var(--main-txt-color);
}

.calendarDateToday {
    color: var(--extra-one);
}

.calendarRowLine {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0.1) 80%, rgba(0,0,0,0) 100%);
}

/* --------------------
    TASKS START:
-------------------- */
#dashboardTaskContainer {
    margin: 0 auto 3.5rem auto;
    width: 82.8vw;
    overflow: auto;
    white-space: nowrap;
    color: var(--main-txt-color);
    border-radius: 10px;
    box-shadow:
        inset -5px 0 5px -5px rgba(0,0,0,0.75),
        inset 5px 0 5px -5px rgba(0,0,0,0.75);
}

.dashboardTaskHeading {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    color: var(--main-txt-color);
    letter-spacing: 2px;
    width: 82.8vw;
    margin: auto;
    padding: 8px;
}

.dashboardTaskWrap{
    display: inline-block;
    border: 1px solid var(--main-txt-color);
    width: 400px;
    overflow: hidden;
    height: 245px;
    padding: 0;
    border-radius: 10px;
    margin-right: 15px;
}

.dashboardTaskWrap:last-of-type{
    margin-right: 0;
}

.dashboardTask {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30px 50px auto;
    height: 100%;
}


.dashboardTaskStatus {
    grid-column: 1;
    grid-row: 1;
    padding: 0 8px;
    line-height: 30px;
    color: var(--category-txt-color);
}

.dashboardTaskStatusToDo{
    background-color: var(--red-light);
}

.dashboardTaskStatusInProgress{
    background-color: var(--orange-light);
}

.dashboardTaskCategory {
    grid-column: 2;
    grid-row: 1;
    background-color: var(--task-category);
    padding: 0 8px;
    line-height: 30px;
    color: var(--category-txt-color);
}


.dashboardTaskTitle {
    grid-column: 1;
    grid-row: 2;
    margin: auto auto 5px 0;
    text-align: left;
    padding-left: 8px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.dashboardTaskDescription {
    grid-column: 1;
    grid-row: 3;
    white-space: normal;
    padding: 0 8px;
}


.dashboardTaskUserWrap {
    grid-column: 2;
    grid-row: 2;
    margin: auto auto 5px 0;
    padding-left: 8px;
}

.dashboardTaskUser {
    display: inline-block;
    border: 2px solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 5px;
    font-size: 13px;
    font-weight: 800;
    position: relative;
}

.dashboardTaskOwner {
    border-color: var(--owner-color);
}

.dashboardTaskOwner:before{
    font-family: "Font Awesome 5 Free";
    content: "\f521";
    position: absolute;
    bottom: 20px;
    left: 2.75px;
    transform: scaleY(0.6);
    transform: scaleX(1.5);
    color: gold;
}

.dashboardTaskMember {
    border-color: var(--member-color);
}

.dashboardTaskCountdown {
    position: relative;
    text-align: center;
}

.dashboardTaskCountdownDaysUnit {
    margin: auto;
    /*display: inline-block;*/
    position: absolute;
    bottom: 69px;
    left: 75px;

}

.chartistColor1 {
    stroke: #FF0000;
}



.dashboardTaskCountdownDays {
    text-align: center;
    font-size: 24px;
}

.dashboardTaskCountdownUnit {
    font-size: 12px;
    line-height: 12px;
    position: relative;
    text-align: center;
    width: 20px;
}

.dashboardTaskCountdownChart {
    position: absolute;
    bottom: 25px;
    left: -5px;
}

.chartistColor1 {
    stroke: #a09a9c;
}

.chartistColor2 {
    stroke: #FF0000;
}

/* --------------------
    DASHBOARD PROJECTS START:
-------------------- */
#dashboardProjectContainer {
    margin: 0 auto 3.5rem auto;
    width: 82.8vw;
    overflow: auto;
    white-space: nowrap;
    color: var(--main-txt-color);
    box-shadow:
        inset -5px 0 5px -5px rgba(0,0,0,0.75),
        inset 5px 0 5px -5px rgba(0,0,0,0.75);
}

.dashboardProjectTopBar{
    display: grid;
    grid-column: 1 / span 6;
    grid-row: 1;
    border-bottom: solid 1px var(--main-txt-color);
}

.dashboardProjectHeading {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    color: var(--main-txt-color);
    letter-spacing: 2px;
    width: 82.8vw;
    margin: auto;
    padding: 8px;
}

.dashboardProjectWrap{
    display: inline-block;
    border: 1px solid var(--main-txt-color);
    overflow: hidden;
    height: 245px;
    width: 400px;
    padding: 0;
    margin-right: 15px;
}

.dashboardProjectWrap:last-of-type{
    margin-right: 0;
}

.dashboardProject {
    display: grid;

    grid-template-columns: repeat(6, auto);
    grid-template-rows: 30px auto 60px;

    border: 1px solid var(--main-txt-color);
    height: 100%;
    color: var(--main-txt-color);
    padding: 0.5rem;
}



.dashboardProjectDate {

}

.dashboardProjectStartDate {
    grid-column: 1;
    grid-row: 1;

}
.dashboardProjectEndDate {
    grid-column: 6;
    grid-row: 1;

    text-align: right;
}

.dashboardProjectTitle {
    grid-column: 2 / span 4;
    grid-row: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px
}

.dashboardProjectDescription {
    grid-column: 1 / span 4;
    grid-row: 2;
    margin-top: 10px;
    white-space: normal;
}

.dashboardProjectUserWrap {
    grid-column: 5 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardProjectUser {
    /*border: 2px solid;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 800;*/
    display: inline-block;
    border: 2px solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 5px;
    font-size: 13px;
    font-weight: 800;
    position: relative;
}


.dashboardProjectOwner {
    border-color: var(--owner-color);
}

.dashboardProjectOwner:before{
    font-family: "Font Awesome 5 Free";
    content: "\f521";
    position: absolute;
    bottom: 20px;
    left: 2.75px;
    transform: scaleY(0.6);
    transform: scaleX(1.5);
    color: gold;
}

.dashboardProjectMember {
    border-color: var(--member-color);
}

.dashboardProjectTaskWrap {
    grid-column: 1 / span 6;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    border-top: solid 1px #fffaff;
    /*display: flex;
    justify-content: space-around;
    align-items: center;*/
}

.dashboardProjectTask {
   
    font-size: 20px;
    font-weight: 800;
    height: 37px;
    text-align: center;
    line-height: 35px;
    margin-top: 1rem;
    margin-right: 10px;
}

.dashboardProjectTask:last-of-type{
    margin-right: 0;
}

.dashboardProjectTaskToDo {
    background-color: var(--red-light);
    width: 33.3%;
}

.dashboardProjectTaskInProgress {
    background-color: var(--orange-light);
    width: 33.3%;
}

.dashboardProjectTaskDone {
    background-color: var(--green-light);
    width: 33.3%;
}

/* --------------------
    BIG TASK START:
-------------------- */

.bigTaskContainer {

}

.bigTask {
    margin: 0 auto;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto 50px auto;
    color: var(--main-txt-color);
    border: solid 1px var(--main-txt-color);
    padding: 20px;
    border-radius: 10px;
}

.bigTaskStatus {
    grid-column: 9 / span 4;
    grid-row: 1;
    /*padding: 0 20px;*/
    line-height: 50px;
    color: var(--category-txt-color);
    font-size: 15px;
    border-radius: 10px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.bigTaskStatus:hover{
    opacity: 0.9;
    cursor: pointer;
}

.bigTaskStatusToDo {
    background-color: var(--red-light);
}

.bigTaskStatusInProgress {
    background-color: var(--orange-light);
}

.bigTaskStatusDone {
    background-color: var(--green-light);
}

.bigTaskPriority {
    grid-column: 5 / span 4;
    grid-row: 1;
    /*padding: 0 8px;*/
    background-color: var(--priority-color);
    line-height: 50px;
    color: var(--category-txt-color);
    font-size: 15px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    border-radius: 10px;
    margin-right: 10px;
}

.bigTaskPriority:hover{
    opacity: 0.9;
    cursor: pointer;
}


.bigTaskCategory {
    grid-column: 1 / span 4;
    grid-row: 1;
    background-color: var(--task-category);
    /*padding: 0 20px;*/
    line-height: 50px;
    color: var(--category-txt-color);
    font-size: 15px;
    margin-right: 10px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    border-radius: 10px;
}

.bigTaskCategory:hover{
    opacity: 0.9;
    cursor: pointer;
}

.bigTaskLeftBar {
    grid-column: 1 / span 6;
    grid-row: 2;
    height: 100%;
}

.bigTaskTitle {
    margin-top: 20px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    background: transparent;
    color: var(--main-txt-color);
    border: none;
    outline: 0;
    border-radius: 10px;
    width: 100%;
}

.bigTaskTitle:focus{
    background: rgba(0, 0, 0, 0.2);
}

.bigTaskDescription {
    margin-top: 20px;
    background: transparent;
    color: var(--main-txt-color);
    width: 100%;
    border: none;
    outline: 0;
    border-radius: 10px;
    height: 75%;
    overflow-wrap: break-word;
    font-size: 16px;
    resize: none;
}

.bigTaskDescription:focus{
    background: rgba(0,0,0,0.2);
}

.bigTaskRightBar {
    grid-column: 7 / span 6;
    grid-row: 2;
}
.bigTaskUserWrap {
    margin: 20px;
}


.bigTaskUser:hover::before{
    font-family: "Font Awesome 5 Free";
    content: "\f057";
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    z-index: 3;
    color: var(--red-light);
    background-color: var(--main-bg-color);
    border-radius: 50%;
    pointer-events: none;
}


.bigTaskUserIcon {
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 50%;
    padding: 3px;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}

.bigTaskUserName{
    display: inline-block;
}

.bigTaskOwner {
    border-color: var(--owner-color);
}

.bigTaskOwner:before{
    font-family: "Font Awesome 5 Free";
    content: "\f521";
    position: absolute;
    bottom: 20px;
    left: 2.75px;
    transform: scaleY(0.6);
    transform: scaleX(1.5);
    color: gold;
}

.bigTaskMember {
    border-color: var(--member-color);
}

.bigTaskCountdown {
    position: relative;
    text-align: center;
}

.bigTaskCountdownDaysUnit {
    margin: auto;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 58px;
    /*left: 73px;*/

}

.bigTaskCountdownDays {
    text-align: center;
    font-size: 24px
}

.bigTaskCountdownUnit {
    font-size: 12px;
    line-height: 12px;
    position: relative;
    text-align: center;
}

.bigTaskCountdownChart {
    position: relative;
    bottom: 20px;
    left: 0;
}

.bigTaskProject {
    grid-column: 1 / span 6;
    grid-row: 3;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.bigTaskStartDate {
    grid-column: 7 / span 4;
    grid-row: 3;
    text-align: left;
    font-size: 12px;
    line-height: 50px;
}

.bigTaskEndDate {
    grid-column: 9 / span 4;
    grid-row: 3;
    text-align: right;
    font-size: 12px;
    line-height: 50px;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--main-txt-color);
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: var(--main-txt-color);
    font-size: 16px;
    border:1px solid var(--main-txt-color);
    background: var(--main-bg-color);
    padding: 5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: var(--main-txt-color);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

/* ------------------------------
    PROJECT VIEW START:
------------------------------ */

#projectViewContainer {

}
.projectViewProject {
    margin: auto;
    width: 900px;
    color: var(--main-txt-color);
    padding: 20px;
    border: solid 1px var(--main-txt-color);
}

.projectViewTopBar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: baseline;
    border-bottom: solid 1px var(--main-txt-color);
}

.projectViewDate {

}

.projectViewStartDate {

}

.projectViewEndDate {

}


.projectViewTitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 26px;
    resize: none;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--main-txt-color);
    text-align: center;
}

.projectViewTitle:focus{
    background: rgba(0, 0, 0, 0.2);
}

.projectViewDropDown {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    border-bottom: solid 1px var(--main-txt-color);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.projectViewDescription {
    grid-column: 1;
    resize: none;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--main-txt-color);
    font-size: 16px;
    margin-right: 10px;
}

.projectViewDescription:focus{
    background: rgba(0,0,0,0.2);
}

.projectViewUserWrap {
    grid-column: 2;
    margin-left: 10px;
}

.projectViewUser {

}

.projectViewUser:hover::before{
    font-family: "Font Awesome 5 Free";
    content: "\f057";
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    z-index: 3;
    color: var(--red-light);
    background-color: var(--main-bg-color);
    border-radius: 50%;
    pointer-events: none;
}

.projectViewUserIcon {
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 50%;
    padding: 3px;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}

.projectViewUserName {
    display: inline-block;
}


.projectViewOwner {
    border-color: var(--owner-color);
}

.projectViewOwner:before{
    font-family: "Font Awesome 5 Free";
    content: "\f521";
    position: absolute;
    bottom: 20px;
    left: 2.75px;
    transform: scaleY(0.6);
    transform: scaleX(1.5);
    color: gold;
}


.projectViewMember {
    border-color: var(--member-color);
}

.projectViewTaskWrap {
    display: grid;
    grid-template-columns: 33.33% auto 33.33%;
    grid-column-gap: 10px;
}

.projectViewToDoWrap {
    grid-column: 1;
}

.projectViewInProgressWrap {
    grid-column: 2;
}

.projectViewDoneWrap {
    grid-column: 3;
}

.projectViewStatusTitle{
    padding: 10px;
}

.projectViewStatusTitleToDo {
    background-color: var(--red-light);
}

.projectViewStatusTitleInProgress {
    background-color: var(--orange-light);
}

.projectViewStatusTitleDone {
    background-color: var(--green-light);
}

.projectViewTask {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px auto auto;
    padding: 10px;
    border: solid 1px var(--main-txt-color);
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}


.projectViewTaskStatus {
    grid-column: 2;
    grid-row: 3;
    display: none;
    pointer-events: none;
}

.projectViewTaskCategory {
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
}

.projectViewTaskTitle {
    grid-column: 1 / span 2;
    grid-row: 2;
    pointer-events: none;
    font-weight: 600;
    text-transform: uppercase;

}

.invisible {
  display: none;
}
.projectViewTaskUserWrap {
    grid-column: 1 / span 2;
    grid-row: 3;
    text-align: left;
    pointer-events: none;
    user-select: none;
    padding-top: 10px;
}

.projectViewTaskUser {
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 50%;
    padding: 3px;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    display: inline-block;
    pointer-events: none;
    user-select: none;
    margin-right: 5px;
    position: relative;
}


.projectViewTaskOwner {
    border-color: var(--owner-color);
    pointer-events: none;
    user-select: none
}

.projectViewTaskOwner:before{
    font-family: "Font Awesome 5 Free";
    content: "\f521";
    position: absolute;
    bottom: 20px;
    left: 2.75px;
    transform: scaleY(0.6);
    transform: scaleX(1.5);
    color: gold;
}

.projectViewTaskMember {
    border-color: var(--member-color);
    pointer-events: none;
    user-select: none
}

.projectViewTaskProject {
    grid-column: 1;
    grid-row: 3;
    pointer-events: none;
    user-select: none
}

.projectViewTaskEndDate {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}

.projectViewStatusWrap {

}

.projectViewTaskToDoWrap {

}

.projectViewTaskInProgressWrap {

}

.projectViewTaskDoneWrap {

}

.projectViewTaskStatusToDo {

}

.projectViewTaskStatusInProgress {

}

.projectViewTaskDone {

}

.invisible {
  display: none;
}
.held {
  border: solid 1px white;
  background-color: #424248;
  min-height: 100px;
  min-width: 200px;
}

/*.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
} */

.pointer{
    cursor: pointer;
}

/* -------------------- */
/* -------------------- */

.highlight {
    color: var(--task-one);
}

.mainFooter {
    text-align: center;
    color: var(--main-txt-color);
    height: 64.69px;
    background-color: var(--secondary-bg-color);
    border-top: solid 0.7px var(--main-txt-color);
    margin-top: 3.5rem;
}

/* media queries */

@media(max-width: 568px){
    .projects, .tasks{
        flex-direction: column;
        align-items: center;
    }
    .boxes{
        width: 82.8vw;
        height: 35vh;
    }
    .dropdown{
        display:block;
    }
    .mainNav ul{
        display: none;
    }

}

@media(max-width: 880px){
    .catchphrase, #verticalLine{
        display: none;
    }

}

/* CSS for eksempelknapp */
/*.btn {
    padding: 0.5rem 1rem;
    margin-top: 50px;
    background-color: transparent;
    border: solid 2px #fffaff;
    border-radius: 5px;
    color: #fffaff;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    top: 10%;
    cursor: pointer;
}


.btn:hover {
    background-color: #6edd79;

}


.btn-text {
    font-size: 14px;
    letter-spacing: 1px;
}

.arrow {
    font-size: 15px;
    padding-left: 0.5rem;
}*/
