body {
    background: #000;
}

#calendarContainer{
    position: relative;
    margin: auto;
    width: 800px;
    height: 200px;
    top: 200px;

    display: grid;
    grid-row-gap: 5px;

    overflow: auto;

    background: white;
}

.calendarItem{
    background: gray;
}

.calendarDate{
    margin: auto;

    background: red;
}